<div class="container-sm">
    <div class="form-floating mb-3 col-4 mx-auto">
        <input type="number" class="form-control" style="text-align: center; margin-top: 20px;" #idvalor>
        <label>ID</label>
    </div>
    <div class="form-floating mb-3 col-4 mx-auto">
        <input type="text" class="form-control" style="text-align: center;" #titulo>
        <label>TÍTULO</label>
    </div>
    <div class="form-floating mb-3 col-4 mx-auto">
        <input type="text" class="form-control"  style="text-align: center;" #interprete>
        <label>INTERPRETE</label>
    </div>
    <div class="form-floating mb-3 col-4 mx-auto">
        <input type="number" class="form-control"  style="text-align: center;" #anyoPublicacion>
        <label>AÑO DE PUBLICACIÓN</label>
    </div>
    <div class="container col-4 mx-auto">
        <button type="button" class="btn btn-primary" (click)="anyadirDisco(idvalor.value, titulo.value, interprete.value, anyoPublicacion.value)">AÑADIR</button>
        <button type="button" class="btn btn-secondary" (click)="eraseDisco(idvalor.value, titulo.value, interprete.value, anyoPublicacion.value)">BORRAR</button>
        <button type="button" class="btn btn-success" (click)="editDisco(idvalor.value, titulo.value, interprete.value, anyoPublicacion.value)">MODIFICAR</button>
    </div>
</div>
